/.vs
/src/api/SpiderControl.Api.Shared/bin
/src/api/SpiderControl.Api.Shared/obj
/tests/SpiderControl.Api.Shared.Testing/bin
/tests/SpiderControl.Api.Shared.Testing/obj
/src/api/SpiderControl.WebApiV2/bin
/src/api/SpiderControl.WebApiV2/obj
/tests/SpiderControl.WebApiV2.Tests/bin
/tests/SpiderControl.WebApiV2.Tests/obj
/src/backend/SpiderControl.Core/bin
/src/backend/SpiderControl.Core/obj
/tests/SpiderControl.Core.Tests/bin
/tests/SpiderControl.Core.Tests/obj
/src/backend/SpiderControl.Application/bin
/src/backend/SpiderControl.Application/obj
/tests/SpiderControl.Application.Tests/bin
/tests/SpiderControl.Application.Tests/obj
/src/frontend/SpiderControl.Console/bin
/src/frontend/SpiderControl.Console/obj
/tests/SpiderControl.Console.Tests/bin
/tests/SpiderControl.Console.Tests/obj
*.user
coverage-report/
TestResults/
/combined-coverage
