################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/SpiderControl.Api.Shared/obj
/API/SpiderControl.Api.Shared.Testing/obj
/API/SpiderControl.WebApiV2/obj
/API/SpiderControl.WebApiV2.Tests/obj
/SpiderControl.Application/obj
/SpiderControl.Application.Tests/obj
/SpiderControl.Console/obj
/SpiderControl.Console.Tests/obj
/SpiderControl.Core/obj
/SpiderControl.Core.Tests/obj
/src/api/SpiderControl.Api.Shared/bin
/src/api/SpiderControl.Api.Shared/obj
/src/api/SpiderControl.WebApiV2/bin
/src/api/SpiderControl.WebApiV2/obj
/src/backend/SpiderControl.Application/bin
/src/backend/SpiderControl.Application/obj
/src/backend/SpiderControl.Console/bin
/src/backend/SpiderControl.Console/obj
/src/backend/SpiderControl.Core/bin
/src/backend/SpiderControl.Core/obj
/tests/SpiderControl.Api.Shared.Testing/bin
/tests/SpiderControl.Api.Shared.Testing/obj
/tests/SpiderControl.Application.Tests/bin
/tests/SpiderControl.Application.Tests/obj
/tests/SpiderControl.Console.Tests/bin
/tests/SpiderControl.Console.Tests/obj
/tests/SpiderControl.Core.Tests/bin
/tests/SpiderControl.Core.Tests/obj
/tests/SpiderControl.WebApiV2.Tests/bin
/tests/SpiderControl.WebApiV2.Tests/obj
