################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpiderControl.Core/bin
/SpiderControl.Core/obj
/SpiderControl.Core.Tests/bin
/SpiderControl.Core.Tests/obj
/SpiderControl.Console/bin
/SpiderControl.Console/obj
/SpiderControl.Console.Tests/bin
/SpiderControl.Console.Tests/obj
/SpiderControl.Application/obj
/SpiderControl.Application.Tests/obj
/SpiderControl.Application/bin/Debug
/SpiderControl.Application.Tests/bin/Debug
/spider-control-web/.vscode
